body{
	background-image: url(https://thumbor.forbes.com/thumbor/1280x868/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1134635135%2F960x0.jpg%3Ffit%3Dscale);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}